* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

body {
    display         : flex;
    justify-content : center;
    align-items     : center;
    height          : 100vh;
    background-color: #091921;
}

.container {
    display        : flex;
    justify-content: center;
    align-items    : center;
    flex-direction : column;
}

.container p {
    color        : #1f575e;
    margin-bottom: 20px;
}

.container input {
    display: none;
}

.container label {
    margin: 0 20px;
    ;
}

.container label i {
    line-height: 40px;
    text-align: center;
    width: 40px;
    height: 40px;
    font-size    :18px;
    border-radius: 50%;
    color        : #6f6f6f;
    box-shadow   : -1px -1px 3px rgba(255, 255, 255, 0.1),
        1px 1px 6px rgba(0, 0, 0, 0.8);
}
.container label i:hover {
    line-height: 40px;
    text-align: center;
    width: 40px;
    height: 40px;
    font-size    :18px;
    border-radius: 50%;
    color        : #6f6f6f;
    box-shadow   : -1px -1px 3px rgba(255, 255, 255, 0.1),
        1px 1px 6px rgba(0, 0, 0, 0.8),
        inset -2px -2px 10px rgba(255, 255, 255, 0.1),
        inset 2px 2px 10px rgba(0, 0, 0, 0.8);
}

.container label input:checked ~ i {
    color        : #5bff63;
    box-shadow   : inset -2px -2px 6px rgba(255, 255, 255, 0.1),
        inset 2px 2px 3px rgba(0, 0, 0, 0.8);
        text-shadow: 0px 0px 2px,0px 0px 8px;
}