* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

body {
    display         : flex;
    justify-content : center;
    align-items     : center;
    height          : 100vh;
    background-color: #091921;
}

.container {
    display        : flex;
    justify-content: center;
    align-items    : center;
    flex-direction : column;
}

.container p {
    color        : #1f575e;
    margin-bottom: 20px;
}

.container input {
    display: none;
}

.container label {
    margin: 0 20px;
}

.container label i {
    line-height: 100px;
    text-align: center;
    width: 100px;
    height: 100px;
    font-size    :50px;
    border-radius: 50%;
    color        : #6f6f6f;
    box-shadow   : -3px -3px 9px rgba(255, 255, 255, 0.1),
        3px 3px 18px rgba(0, 0, 0, 0.8);
}
.container label i:hover {
    line-height: 100px;
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    color        : #6f6f6f;
    box-shadow   : -3px -3px 9px rgba(255, 255, 255, 0.1),
        3px 3px 18px rgba(0, 0, 0, 0.8),
        inset -6px -6px 30px rgba(255, 255, 255, 0.1),
        inset 6px 6px 30px rgba(0, 0, 0, 0.8);
}

.container label input:checked ~ i {
    color        : #5bff63;
    box-shadow   : inset -6px -6px 18px rgba(255, 255, 255, 0.1),
        inset 6px 6px 18px rgba(0, 0, 0, 0.8);
        text-shadow: 0px 0px 4px,0px 0px 20px;
}